<% content_for :title do %>About<% end %>
<h3>About</h3>
<p>
This web application is a test bench for 
<%= link_to('La Camiseta Loca', 'http://la-camiseta-loca.myshopify.com/') %>
by <%= link_to('Julio Hardy', 'http://www.juliohardy.com/') %>
and <%= link_to('martinR', 'http://martinR-art.com/') %>.
</p>
